/*setting grid grid*/
main{
  background-color: none;

  display: grid;
  width: 100%;
  height: 100%;
  margin-right:auto;
  margin-left:auto;

  /*assaigning grid roles*/
  grid-template-rows: auto;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-areas:
    "header header header language"
    "appisleft appis appis appisrigth"
    "footer footer  footer footer ";
}

header{
  grid-area: header;
  /*background-color: #F50057 ;*/
}

footer{
  grid-area: footer ;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 0;
  /*background-color: #0288D1 ;*/
}

input{
	border-radius: 10px;

}

signin{
  grid-area: signin;
  display: inline-flex;
  height: 50px;
}

app{
  grid-area: appis;
}


.language{
  grid-area: language;
}

.flag{
  width: 30px;
  margin: 10px;
}

.logo{
  width: 150px;
  height: auto;
  margin: 20px;
}

.login{
  margin-right: 20px;
  margin-top: 0;
}

.btn-group{
  color: grey;
  margin-top: 0;
}

.modal.visible{
  display:inline;
  box-sizing:border-box;
  width: 40rem;
  height:auto;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);

  padding-left: 3rem;

  background:#e5ffff;
  border:solid 1px #ddd;
  box-shadow: 0 0 2px rgba(0,0,0,.17),0 0 3px rgba(0,0,0,.2);
}

.modal.hidden{
  display:none;
}

#headerlink{
  font-family: fantasy;
  color:#B0BEC5;

}
#buttongroup{
  margin-top: 5%;
  width: 100%;
}

#button{
  border-radius: 20px;
  width: 30%;
  height: 80px;
  margin:1.655%;
  white-space:normal;
  font-size: 14px;
  word-wrap: break-word;
  padding:0;
}

#btn{
  font-size: 14px;
}

#form-submit-data{
	display:inline;
}
