/*setting grid grid*/
main{
  background-color: none;

  display: grid;
  width: 100%;
  height: 100%;
  margin-right:auto;
  margin-left:auto;

  /*assaigning grid roles*/
  grid-template-rows: auto;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-areas:
    "header header header header"
    "appisleft appis appis appisrigth"
    "footer footer  footer footer ";
}

header{
  grid-area: header;
  display: inline-flex;
  /*background-color: #F50057 ;*/
}

footer{
  grid-area: footer ;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 0;
  /*background-color: #0288D1 ;*/
}

input{
	border-radius: 10px;

}

app{
  grid-area: appis;
  margin-top: 20px;
  width: 100%;
}

language{
  margin-right: 0;
}

img:hover{
  opacity: 0.3;
}

.btn{
  width: 170px;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-lg{
  margin-right: 10%;
  color: white;
  background-color: #3CB371;
  padding: 15px;
}

.btn-user{
  margin-right: 10%;
}

.btn-rg{
  margin-right: 10%;
  color: #3CB371;
  border-width: 1px;
  border-color: #3CB371;
  padding: 15px;
}

.btn-logout{
  margin-right: 10%;
}

.logoarea{
  margin-left: 10%;
  margin-top: 0;
  width: 70%;
}

.loginarea{
  float: right;
}

.flag{
  width: 30px;
  margin: 10px;
}

.logo{
  width: 150px;
  height: auto;
  margin: 20px;
}

.modal.visible{
  display:inline;
  box-sizing:border-box;
  width: 40rem;
  height:auto;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);

  padding-left: 3rem;

  background:#e5ffff;
  border:solid 1px #ddd;
  box-shadow: 0 0 2px rgba(0,0,0,.17),0 0 3px rgba(0,0,0,.2);
}

.modal.hidden{
  display:none;
}

#logoarea{
  margin-right: 0;
  margin-top: 0;
}

#button{
  border-radius: 10px;
  width: 30%;
  height: 80px;
  margin:1.655%;
  white-space:normal;
  word-wrap: break-word;
  padding:0;
  font-size: 14px;
}

#buttongroup{
  width: 100%;
}

#form-submit-data{
	display:inline;
}
